/* 

Header

*/

.panel {
    background-color: #007bff;
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 0;

}
.logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.search-bar {
    flex: 1;
    padding: 5px;
    margin: 0 1px;
    border: none;
    border-radius: 5px;
}
.login-button {
    background-color: #fff;
    color: #007bff;
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

/*

footer

*/

.footer {
    background-color: #007bff;
    color: #fff;
    padding: 16px;
    display:flex;
    justify-content: space-evenly; /* Mantenuto space-between */
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    text-align: left;
    
}
.footer p,
.footer a {
    margin: 2; /* Assicurati di specificare la misura del margine (es. margin: 2px;) */
}
.footer a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}
