/* 

Header

*/

.panel {
    background-color: #007bff;
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;

    border: none; /* Rimuove il bordo dalla banda */
}

.logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.search-bar {
    flex: 1;
    padding: 5px;
    margin: 0; /* Rimuove il margine */
    border: none; /* Rimuove il bordo dalla barra di ricerca */
    border-radius: 5px;
    background-color: #fff; /* Colore di sfondo bianco */
    color: #007bff; /* Colore del testo blu */
}

.login-button {
    background-color: #fff;
    color: #007bff;
    border: none; /* Rimuove il bordo dal pulsante di login */
    padding: 5px 10px; /* Aggiunto padding per migliorare l'aspetto */
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

/*

footer

*/

.footer {
    background-color: #007bff;
    color: #fff;
    padding: 16px;
    display:flex;
    justify-content: space-evenly; /* Mantenuto space-between */
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    text-align: left;
    
}
.footer p,
.footer a {
    margin: 2; /* Assicurati di specificare la misura del margine (es. margin: 2px;) */
}
.footer a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}
