<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - {{ user }}</title>
    <style>
        .container {
            background-color: #ffffff;
            padding: 30px 30px 30px 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 200%;
            max-width: 600px;
            margin: auto;
        }
        .container h1 {
            margin-top: 0;
            
        }
        .data-item {
            margin-bottom: 10px;
            text-align: left;
        }
    </style>
</head>
<body>
    {% include 'header.html' %}
<div class="container">
    <h1>Dashboard</h1>
    <div class="data-item"><strong>Email:</strong> {{ email }}</div>
    > <a class="data-item" href="/">cambia email</a>
    {% if telefono %}
        <div class="data-item"><strong>Telefono:</strong> {{ telefono }}</div>
        > <a class="data-item" href="/">cambia numero di telefono</a>
    {% else %}
        <p class="data-item"><strong>Telefono : </strong> </p>
        > <a class="data-item" href="/">inserisci il telefono</a>
    {% endif %}
    <div class="data-item"><strong>Media Recensioni:</strong> {{ media_recensioni }}</div>



    <div class="data-item">
        <div class="data-item"><strong>Carrello</strong></div>
        > <a class="data-item" href="/">Vai al carrello</a>
    </div>
    <div class="data-item">
        <div class="data-item"><strong>I miei annunci</strong></div>
        > <a class="data-item" href="/">Vai agli annunci</a>
    </div>

    <div class="data-item">
        <div class="data-item"><strong>Inserisci annuncio</strong></div>
        > <a class="data-item" href={{ url_for('product.product_upload') }}>Inserisci annuncio</a>
    </div>


</div>
    {% include 'footer.html' %}
</body>
</html>

